<!DOCTYPE html>
<html class="no-js">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{{ page.title }} | Dwolla API</title>
    <meta name="description" content="{{ page.description }}">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="apple-touch-icon" sizes="180x180" href="{{ site.baseurl }}/images/favicons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ site.baseurl }}/images/favicons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ site.baseurl }}/images/favicons/favicon-16x16.png">
    <link rel="manifest" href="{{ site.baseurl }}/images/favicons/manifest.json">
    <link rel="mask-icon" href="{{ site.baseurl }}/images/favicons/safari-pinned-tab.svg" color="#ff7404">
    <meta name="theme-color" content="#ffffff">

    <!-- build:css({app,.tmp}) /css/main.css -->
    <link rel="stylesheet" href="/_bower_components/normalize-css/normalize.css">
    <link rel="stylesheet" href="/css/syntax.css">
    <link rel="stylesheet" href="/css/application.css">
    <link rel="stylesheet" href="/lib/icons/dist/base/icons.data.svg.css">
    <link rel="stylesheet" href="/lib/icons/dist/developer/icons.data.svg.css">
    <link rel="stylesheet" href="/lib/icons/dist/guides/icons.data.svg.css">
    <!-- endbuild -->

    <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Roboto+Slab:300|Open+Sans:300,400,600,700">

    <!-- build:js(app) /js/head-scripts.js -->
    <!-- Replace with a custom modernizer build for production -->
    <script src="/_bower_components/modernizr/modernizr.js"></script>

    <!-- Status Page -->
    <!-- endbuild -->
    <script src="https://cdn.statuspage.io/se-v2.js"></script>

    {% include gtm-head.html %}

  </head>
  <body {% if page.bodyClass %}class="{{ page.bodyClass }}"{% endif %}>
    <!--[if lt IE 8]>
        <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->
    <header>
        {% include header.html %}
        {% include navigation.html %}
    </header>

    <div class="content">
        {{ content }}
    </div>

    {% include scripts.html %}
    {% include google-analytics.html %}
    {% include intercom.html %}
    {% include gtm-body.html %}

  </body>
</html>
